html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E6E6FA;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
}

.container {
    display: flex;
    width: 100%;
    flex: 1;
}

.left-side {
    background-color: #B39EB5;
    width: 30%;
    height: 180%;
    padding: 20px;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
  }

.icon {
    width: 20px;
    height: 20px;
  }