html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E6E6FA;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
}

.container {
    display: flex;
    width: 100%;
    flex: 1;
}

.left-side {
    background-color: #B39EB5;
    width: 30%;
    height: 200%;
    padding: 20px;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
  }

.icon {
    width: 20px;
    height: 20px;
  }

.right-side {
    background-color: #E6E6FA;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.section {
    margin-bottom: 20px;
}

.section h2 {
    background-color: white;
    color: #B39EB5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

p, ul {
    color: black;
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

.section p {
    color: black;
    margin: 10px 0;
    text-align: justify;
}

.name-position {
    text-align: center;
    margin-bottom: 40px;
}

.name-position h1 {
    font-size: 2em;
    color: #B39EB5;
}

.name-position h2 {
    font-size: 1.5em;
    color: #B39EB5;
    margin-bottom: 20px;
}

.icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 10px;
}

.right-side .section:last-child {
    margin-bottom: 20px;
}